<odoo>
    <data>
        <menuitem id="menu_commision_root"
                  name="Commission Master"
                  sequence="10"/>

        <menuitem id="menu_commission_rules"
                  name="Commission Rules"
                  parent="menu_commision_root"
                  action="action_commission_rules"
                  sequence="20"/>

    </data>
</odoo>